:root {
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.nav-bar {
    position: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background-color: black;
    padding: 2%;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-self: top;
}